@model List<Crud_AspNetCore.Models.Domain.Employee>

@{
    ViewData["Title"] = "Lista funcionários";
}

<h2>Empregados</h2>
<br>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Salário</th>
            <th>Data de nascimento</th>
            <th>Departamento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Salary</td>
                <td>@employee.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td>@employee.Department</td>
                <td><a href="Employees/View/@employee.Id">Editar</a></td>
            </tr>
        }
    </tbody>
</table>